# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Virtual Environments & Python
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/

# Node.js (Just in case)
node_modules/
npm-debug.log
yarn-error.log

# Flutter / Dart
# Refer to VItalSync/.gitignore for specific paths, but we ignore general ones here too
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_export_environment.sh
.flutter-plugins
.flutter-plugins-dependencies

# C / C++ / Arduino
*.elf
*.hex
*.bin
*.eep
*.o
*.obj
*.out
*.a
*.lib

# Sensitive Files & Credentials
.env
.env.*
*.pem
*.key
serviceAccountKey.json

# Compressed artifacts
*.zip
*.tar
*.tar.gz
*.rar

# Specific project files
MAX_AD_MPU_32.zip

# Firebase configs
lib/firebase_options.dart
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
macos/Runner/GoogleService-Info.plist
